*.a
*.exe
*.o
*.d
*/lib
*/objs
Assignment_10/ServerSocketConsole/bin/
Assignment_10/ServerSocketConsole/obj/
Assignment_10/ServerSocketConsole/wx_pch.h.gch/
Assignment_10/ServerSocketConsole/*.depend
Assignment_10/ServerSocketConsole/*.layout
Assignment_10/ServerSocketConsole/*.workspace
Assignment_10/ServerSocketConsole/*.workspace.layout
Assignment_10/SocketsTest/bin/
Assignment_10/SocketsTest/obj/
Assignment_10/SocketsTest/wx_pch.h.gch/
Assignment_10/SocketsTest/*.depend
Assignment_10/SocketsTest/*.layout
Assignment_10/SocketsTest/*.workspace
Assignment_10/SocketsTest/*.workspace.layout

